body {
  background: hsl(225, 100%, 15%);
  margin: 15px;
}

.inner-body {
  background: hsl(225, 100%, 31%);
  padding: 0px 20px;
  max-width: 950px;
  margin: 0 auto;
  border-radius: 12px;
  min-height: 95vh;
}

.heading {
  color: white;
  font-size: 5em;
  text-align: center;
  background: black;
  max-width: 550px;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.center {
  display: flex;
  justify-content: center;
}

.nav-btn {
  font-size: 40px;
  font-weight: bold;
  margin: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}
